<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>
    <link href="./styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="welcome">
      <h4>
        Hi <%=username%>, welcome to this website!
      </h4>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>